.header {
    position: relative;
    background-color: rgb(82, 73, 73 );
    color: white;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.header-titlePage {
    font-family: "Mate", system-ui;
}

.header-titlePage h1 {
    font-size: 300%;
}

.header-navbar {
    position: absolute;
    left: 25%;
    bottom: 35%;
    font-size: 25px;
}

.header-navbar a {
    text-decoration: none;
    color: white;
}

#header-icon_user-icon {
    border-radius: 280px;
    background-color: white;
    width: 4%;
    position: absolute;
    right: 3%;
    bottom: 25%;
}