<section class="mainPage-body">
    <div class="mainPage-body-backgroundImage bkg-img1"></div>
    <div class="mainPage-body-backgroundImage bkg-img2"></div>
    <div class="mainPage-body-backgroundImage bkg-img3"></div>
    <div class="mainPage-body-backgroundImage bkg-img4"></div>
    <div class="mainPage-body-backgroundImage bkg-img5"></div>
    <div id="mainPage-body-wellcomeMessage">
        <h2>¿Estás listo para iniciar tu oscuro viaje?</h2>
    </div>
    <div class="mainPage-body-contentInformation">
        <h4 class="mainPage-body-contentInformation-subtitle">¿QUÉ ES ESTE GÉNERO?</h4>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, deleniti corrupti iste sequi optio quidem 
            possimus ad pariatur? Iusto accusamus harum doloribus voluptates porro exercitationem! Laborum porro placeat rem 
            vero! Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio aliquid animi, adipisci deleniti possimus 
            culpa quod reprehenderit aut perspiciatis voluptate dicta rerum harum ullam iste ipsa unde similique facere fugiat!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse cumque suscipit nostrum hic officia! Aperiam officiis, 
            amet tempore illum eius ratione fugit sequi, aliquid minus eum quo impedit tenetur non?
        </p>
        <img src="https://i.pinimg.com/originals/2c/4e/74/2c4e745cbc472e312dedae7f59cc46ea.jpg" alt="Personaje de la portada de Elden Ring" id="mainPage-body-contentInformation-img1">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, totam voluptas ratione eos expedita atque quod 
            illum beatae ipsa id! Id dicta, accusantium natus quae qui sapiente dolorum recusandae mollitia. Lorem ipsum dolor 
            sit amet, consectetur adipisicing elit. Architecto, neque deleniti accusantium tempore et quis excepturi repudiandae 
            delectus optio reiciendis cupiditate exercitationem, vitae deserunt perspiciatis obcaecati sapiente asperiores? 
            Accusamus, veritatis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quisquam veritatis autem 
            laborum sint quod pariatur libero veniam assumenda voluptatibus aut, in excepturi? Autem aliquid debitis rem 
            placeat quia minima? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque quidem facere cum nulla minus deleniti 
            et exercitationem distinctio corporis magnam, saepe accusantium laborum qui itaque quaerat eos optio voluptatibus natus! 
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        <h4 class="mainPage-body-contentInformation-subtitle">¿CUÁL ES SU ORIGEN?</h4>
        <img src="https://i.pinimg.com/originals/bd/8c/99/bd8c99054782e1c2fb2ec94fd00265ac.jpg" alt="Foto promocional de dark souls: Prepare to die edition" id="mainPage-body-contentInformation-img2">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus harum dignissimos debitis corrupti modi, sed possimus ipsum 
            quas nesciunt quae aliquid eligendi consequatur dolore earum? Nulla doloribus deleniti soluta inventore? Lorem ipsum dolor 
            sit amet consectetur adipisicing elit. Vero, autem. Ducimus officiis possimus deleniti minima expedita asperiores? 
            Repellendus saepe distinctio ullam inventore quo vero veritatis accusantium? Facere enim tempore perferendis. Lorem 
            ipsum dolor sit amet consectetur adipisicing elit. Atque dicta, quisquam temporibus vitae vero mollitia alias est 
            laborum. Quae facere est vero adipisci eligendi consequuntur quia laboriosam, veniam a labore. Lorem ipsum dolor, 
            sit amet consectetur adipisicing elit. Facilis velit ducimus, sint esse inventore veritatis voluptatibus quo aperiam 
            aut doloribus maiores nam, vero corporis? Natus obcaecati provident ipsum soluta facere! Lorem ipsum dolor, sit amet 
            consectetur adipisicing elit. Fuga culpa nihil aperiam officia dolores, dignissimos aspernatur a obcaecati provident 
            velit eaque eveniet mollitia tempore, labore deserunt quos, repudiandae optio ducimus. Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. Accusamus dignissimos fugiat vitae sint dolores aperiam nemo praesentium accusantium 
            quia harum nostrum, ab molestiae illum quos, incidunt dolore explicabo aliquid rem? Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Incidunt tempore in temporibus expedita asperiores accusantium optio aliquam quia magnam explicabo 
            veritatis placeat unde, illum natus quas minus eum ipsum consequatur. 
        </p>
        <img src="https://i.pinimg.com/originals/46/4c/20/464c2000cf490a056494acfbc6f71142.jpg" alt="Una imagen con un personaje de BloodBorne" id="mainPage-body-contentInformation-img3">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur dolor voluptas voluptates a laboriosam possimus 
            reiciendis cupiditate officia provident corrupti impedit harum atque nobis error, suscipit, autem quos commodi debitis.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, maiores quibusdam quaerat vitae recusandae corrupti 
            reprehenderit maxime deleniti quas quos rem velit exercitationem animi earum dolorem repellendus magnam perferendis 
            fugiat! Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis neque veritatis nam obcaecati earum 
            beatae voluptates, odio iste vitae, provident modi esse natus exercitationem fuga molestiae quae, vel eum alias!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nemo iste amet necessitatibus suscipit sunt 
            laboriosam ab odit quod molestiae non voluptatem saepe libero deserunt, nesciunt nihil quaerat quisquam inventore?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit est ea exercitationem quaerat? Ducimus tenetur 
            placeat explicabo possimus deserunt beatae ipsam velit necessitatibus, vel hic sunt temporibus reiciendis quidem corrupti!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum velit pariatur, ad reiciendis aspernatur, nisi quo 
            repellendus aliquam dolore deleniti consectetur odit culpa optio sunt, ipsa sit quis fugiat similique. Lorem 
            ipsum dolor sit amet consectetur adipisicing elit. Quasi quo dolorem quisquam voluptas? Exercitationem ducimus, 
            provident maxime nobis tempore libero! Expedita accusamus, dolores esse odio quos cumque tempore excepturi sapiente!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro dolorum perspiciatis nam quas a dolor ullam, 
            explicabo fugit modi molestiae, nostrum consequatur temporibus, ipsam soluta accusamus id nobis! Assumenda, tenetur?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        </p>
        <img src="https://cdnb.artstation.com/p/assets/images/images/032/094/003/large/michael-kahn-rose-mkr-tutorial-lighting-vertical-02.jpg?1605465884" alt="Captura de pantalla de Demon Souls" id="mainPage-body-contentInformation-img4">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit obcaecati quia quis dolore ipsa enim, quas optio 
            commodi cum placeat, deleniti reprehenderit quae sapiente perspiciatis? Reiciendis neque itaque tempore id. Lorem, 
            ipsum dolor sit amet consectetur adipisicing elit. Ipsam, veritatis sequi eligendi suscipit itaque, labore unde 
            vero repellendus illum quas voluptatem nesciunt et similique iusto deleniti? Itaque officiis sapiente molestiae?
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci, at et, inventore voluptatum veniam eos delectus 
            unde, quisquam laudantium cum eveniet. Asperiores ullam expedita doloremque, laudantium tempore doloribus in sit?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam quia praesentium nesciunt, possimus animi repellat 
            cum, officiis aspernatur dolorem repellendus odit, consequuntur velit alias id itaque sunt libero saepe. Laudantium.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda odit quae veritatis, perspiciatis aspernatur 
            numquam sapiente repudiandae quisquam corporis deleniti incidunt rerum quam porro, non quas nam! Praesentium, placeat 
            aliquid? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, dolores! Similique culpa, asperiores placeat 
            minus veniam eveniet quis reiciendis molestiae voluptate laudantium dolor fugiat tempore quasi architecto beatae modi 
            aperiam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae nostrum reiciendis facere, esse explicabo 
            asperiores mollitia quaerat vel, velit, ipsa animi repellat pariatur in harum. Eveniet adipisci corporis cumque voluptas.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto corporis consectetur autem expedita perferendis hic 
            eaque explicabo quod aliquid, illo ipsum, quis ratione aliquam ducimus atque quidem facere? Tempora, pariatur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, ratione. Beatae nihil a at! Excepturi, rerum voluptates! 
            Itaque voluptatibus velit laboriosam corporis, placeat deserunt praesentium animi perferendis porro beatae error.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus quod earum officia? Sed provident facere 
            ullam amet sapiente placeat. Officiis inventore aperiam consectetur alias dignissimos facilis veniam dolor natus sunt.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Atque doloribus quaerat hic quae, iste delectus molestiae unde tenetur iure explicabo, voluptate amet labore distinctio 
            laboriosam cupiditate, quibusdam nesciunt consectetur! Mollitia!
        </p>
        <h4 class="mainPage-body-contentInformation-subtitle">¿CÓMO ES ESTE GÉNERO EN LA ACTUALIDAD?</h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea quam perspiciatis aut blanditiis ducimus expedita ipsam 
            quod dolorum illo laboriosam? Dolorem explicabo sit beatae magnam delectus. Harum illum aliquid adipisci. Lorem ipsum 
            dolor sit amet consectetur adipisicing elit. Doloremque perspiciatis vitae, velit blanditiis voluptate tempore. 
            Laborum possimus molestiae ipsa velit dolorum est illum assumenda cumque totam odit? Cum, dolorem perspiciatis?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eaque temporibus alias omnis minus voluptates 
            sint illo, doloremque adipisci quisquam veritatis natus ex libero voluptas ipsum beatae consequuntur tempore molestiae.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam suscipit dolores unde molestiae. Laboriosam 
            reiciendis eveniet veniam vero dignissimos maxime, saepe dolorem blanditiis corrupti delectus hic, iusto maiores? 
            Commodi, iste.
        </p>
        <img src="https://i.pinimg.com/originals/b8/d0/89/b8d08983cfd5c4b60390bd44e75670ff.jpg" alt="Captura de una partida de BloodBorne" id="mainPage-body-contentInformation-img5">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum quae quibusdam vel saepe ex harum voluptas rerum 
            placeat rem necessitatibus sint labore vero recusandae, ducimus architecto voluptatum, impedit blanditiis? A? Lorem 
            ipsum dolor sit amet consectetur adipisicing elit. Neque ut officia eum odit quasi minus nulla dolorum quisquam eius 
            nemo veniam, rerum corrupti saepe fugiat soluta laborum dolor itaque perferendis? Lorem ipsum dolor, sit amet consectetur 
            adipisicing elit. Temporibus iste voluptates voluptatem sunt ea obcaecati maxime numquam veritatis fugiat inventore 
            in illo, impedit consequuntur accusantium sequi debitis dolorem, exercitationem adipisci? Lorem ipsum, dolor sit amet 
            consectetur adipisicing elit. Dignissimos modi animi aspernatur aliquam neque in voluptatem unde accusantium. Quis, 
            nisi eligendi inventore eius excepturi laudantium repellendus commodi voluptas quas temporibus? Lorem ipsum dolor sit 
            amet consectetur adipisicing elit. Quos, distinctio nihil! Nihil maiores, repellendus similique et quae quibusdam 
            consequatur nobis dolores perferendis ex? Nobis soluta nisi deserunt assumenda provident perspiciatis.
        </p>
    </div>
</section>