<section class="gameplaysPage-body">
    <div class="gameplaysPage-body-contentInformation">
        <h4 class="gameplaysPage-body-contentInformation-subtitle">Dark Souls Remastered Gameplay</h4>
        <h4 class="gameplaysPage-body-contentInformation-subtitle">Dark Souls 2: Scholar of the first sin Gameplay</h4>
        <h4 class="gameplaysPage-body-contentInformation-subtitle">Dark Souls 3 Gameplay</h4>
        <h4 class="gameplaysPage-body-contentInformation-subtitle">Un meme rancio que hice</h4>
    </div>
</section>