<section class="gameplaysPage-body">
    <div class="gameplaysPage-body-contentInformation">
        <h4 class="gameplaysPage-body-contentInformation-subtitle">Dark Souls Remastered Gameplay</h4>
        <iframe width="100%" height="500vh" src="https://www.youtube.com/embed/Hj8X-nAQY30?si=BrV6GSoh5GT5rg1u" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h4 class="gameplaysPage-body-contentInformation-subtitle">Dark Souls 2: Scholar of the first sin Gameplay</h4>
        <iframe width="100%" height="500vh" src="https://www.youtube.com/embed/N8B_rMgQts8?si=g8Ro5A5H2LK_rsdr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h4 class="gameplaysPage-body-contentInformation-subtitle">Dark Souls 3 Gameplay</h4>
        <iframe width="100%" height="500vh" src="https://www.youtube.com/embed/GZwioBJ3-lk?si=ChYOIHGoAyOUVZtQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <h4 class="gameplaysPage-body-contentInformation-subtitle">BloodBorne Gameplay</h4>
        <iframe width="100%" height="500vh" src="https://www.youtube.com/embed/MbCi-G4KE9g?si=wt-Q0AWb9tr2Oixl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</section>