<section class="gamesPage-body">
    <div class="gamesPage-body-contentInformation">
        <h4 class="gamesPage-body-contentInformation-subtitle">DARK SOULS</h4>
        <img src="https://imgs.search.brave.com/Y8aOAUo0vGw6ZgDat0gDRG-Y_VGU1fCMCQNLOmvMwQI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDcyNTcy/MTEuanBn" alt="Portada de Dark Souls Remastered" class="gamesPage-body-contentInformation-img img-right">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ullam ex nisi dolor earum illum eos molestias fuga 
            minus optio. Non excepturi ea ex fuga! Dolore ducimus voluptates ipsa asperiores? Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. Optio mollitia labore saepe. Fuga iure corrupti quod recusandae perferendis nulla, 
            veritatis delectus eos odio voluptatem eveniet voluptatum labore aut mollitia ratione! Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. Saepe eaque, autem vero deserunt ducimus beatae, in at dolorem provident omnis soluta 
            hic alias tenetur nam voluptas architecto, exercitationem animi nihil. Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Iste impedit totam quidem sed quae, veniam.
        </p>
        <h4 class="gamesPage-body-contentInformation-subtitle">DARK SOULS 2</h4>
        <img src="https://imgs.search.brave.com/CD4Ve0ULDtJh-LthMRiBRbwlFMcc6Pkcr0kh0Uu6YPA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jNC53/YWxscGFwZXJmbGFy/ZS5jb20vd2FsbHBh/cGVyLzEwMDMvNjg0/Lzg1NC9kYXJrLXNv/dWxzLWlpLXNjaG9s/YXItb2YtdGhlLWZp/cnN0LXNpbi1kYXJr/LXNvdWxzLTItc2No/b2xhci1vZi10aGUt/Zmlyc3Qtc2luLXdh/bGxwYXBlci1wcmV2/aWV3LmpwZw" alt="Portada de Dark Souls 2: Scholar of the first sin" class="gamesPage-body-contentInformation-img img-left">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, nemo voluptatibus, deleniti explicabo labore 
            iure autem placeat amet quo reiciendis minima ipsa aperiam dignissimos impedit, nam quod veniam possimus! Soluta.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, officiis nobis perspiciatis perferendis omnis placeat 
            magnam voluptatem doloremque, amet excepturi laboriosam rerum fugit suscipit? Cum praesentium similique nam quam 
            asperiores! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus unde libero consequuntur mollitia 
            consectetur culpa eligendi dignissimos aspernatur esse vel voluptatum illo reiciendis illum, consequatur, in iure 
            nobis iste voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <h4 class="gamesPage-body-contentInformation-subtitle">DARK SOULS 3</h4>
        <img src="assets/img/ds3Portada.jpg" alt="Portada de Dark Souls 3" class="gamesPage-body-contentInformation-img img-right">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi molestiae a id dolore ab alias veritatis sit quod porro 
            vitae, mollitia libero fuga consequatur nulla recusandae atque facere reiciendis inventore. Lorem ipsum dolor, sit amet 
            consectetur adipisicing elit. Porro sunt enim doloremque tenetur suscipit officiis alias quia aliquid vitae? Quidem hic 
            perspiciatis necessitatibus soluta nemo illo, sunt exercitationem animi vitae! Lorem, ipsum dolor sit amet consectetur 
            adipisicing elit. Earum, nam at? Magni aliquam rem fugit quas, doloremque voluptas ullam delectus nisi officiis 
            similique corporis incidunt perspiciatis sunt soluta tempora exercitationem. Lorem ipsum, dolor sit amet consectetur 
            adipisicing elit.
        </p>
        <h4 class="gamesPage-body-contentInformation-subtitle">ELDEN RING</h4>
        <img src="assets/img/ERPortada.jpg" alt="Portada de Elden Ring" class="gamesPage-body-contentInformation-img img-left">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ullam ex nisi dolor earum illum eos molestias fuga 
            minus optio. Non excepturi ea ex fuga! Dolore ducimus voluptates ipsa asperiores? Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. Optio mollitia labore saepe. Fuga iure corrupti quod recusandae perferendis nulla, 
            veritatis delectus eos odio voluptatem eveniet voluptatum labore aut mollitia ratione! Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. Saepe eaque, autem vero deserunt ducimus beatae, in at dolorem provident omnis soluta 
            hic alias tenetur nam voluptas architecto, exercitationem animi nihil. Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Iste impedit totam quidem sed quae, veniam.
        </p>
        <h4 class="gamesPage-body-contentInformation-subtitle">DEMONS SOULS</h4>
        <img src="assets/img/DemonsSoulsPS5.jpg" alt="Portada de Demons Souls Remake" class="gamesPage-body-contentInformation-img img-right">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, nemo voluptatibus, deleniti explicabo labore 
            iure autem placeat amet quo reiciendis minima ipsa aperiam dignissimos impedit, nam quod veniam possimus! Soluta.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, officiis nobis perspiciatis perferendis omnis placeat 
            magnam voluptatem doloremque, amet excepturi laboriosam rerum fugit suscipit? Cum praesentium similique nam quam 
            asperiores! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus unde libero consequuntur mollitia 
            consectetur culpa eligendi dignissimos aspernatur esse vel voluptatum illo reiciendis illum, consequatur, in iure 
            nobis iste voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <h4 class="gamesPage-body-contentInformation-subtitle">BLOODBORNE</h4>
        <img src="https://imgs.search.brave.com/3wgxUUk1qOkKHEyr7-nlw6fu_OuiaTXz5oSxCbmdgpE/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXIuZm9yZnVu/LmNvbS9mZXRjaC9k/Ny9kN2Q1ZjQ0NGQw/MmQyMDI2YTdkZTg2/ZDdhNzJjZTYzMi5q/cGVn" alt="Portada de BloodBorne" class="gamesPage-body-contentInformation-img img-left">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi molestiae a id dolore ab alias veritatis sit quod porro 
            vitae, mollitia libero fuga consequatur nulla recusandae atque facere reiciendis inventore. Lorem ipsum dolor, sit amet 
            consectetur adipisicing elit. Porro sunt enim doloremque tenetur suscipit officiis alias quia aliquid vitae? Quidem hic 
            perspiciatis necessitatibus soluta nemo illo, sunt exercitationem animi vitae! Lorem, ipsum dolor sit amet consectetur 
            adipisicing elit. Earum, nam at? Magni aliquam rem fugit quas, doloremque voluptas ullam delectus nisi officiis 
            similique corporis incidunt perspiciatis sunt soluta tempora exercitationem. Lorem ipsum, dolor sit amet consectetur 
            adipisicing elit. Trato de rellenar esta parte porque el parrafo no alcanza a la altura de la imagen, y por lo tanto me
            mueve el footer
        </p>
    </div>
</section>