.gamesPage-body {
    width: 100%;
    color: white;
    position: relative;
    background-image: url("../../../../public/assets/img/ED_dlc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Mate", system-ui;
}

.gamesPage-body-contentInformation {
    position: relative;
    width: 75%;
    left: 10.5%;
    background-color: rgba(68, 68, 68, 0.85);
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
}

.gamesPage-body-contentInformation-subtitle {
    border-bottom: 2px solid gold;
    font-size: 38px;
    margin-top: 3%;
}

#gamesPage-body-contentInformation-img1 {
    float: right;
    margin: 10px;
    width: 60%;
}

#gamesPage-body-contentInformation-img2 {
    float: left;
    margin: 10px;
    width: 60%;
}

.gamesPage-body-contentInformation-img {
    margin: 10px;
    width: 60%;
}

.img-left {
    float: left;
}

.img-right {
    float: right;
}